services:
  mongodb:
    image: mongo:latest
    container_name: penguin_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  cassandra:
    image: cassandra:latest
    container_name: penguin_cassandra
    ports:
      - "9042:9042"
    environment:
      - CASSANDRA_CLUSTER_NAME=PenguinCluster
    volumes:
      - cassandra_data:/var/lib/cassandra
    healthcheck:
      test: [ "CMD-SHELL", "[ $$(nodetool statusgossip) = running ]" ]
      interval: 30s
      timeout: 10s
      retries: 5

  redis:
    image: redis:latest
    container_name: penguin_redis
    ports:
      - "6379:6379"

  spark-env:
    image: jupyter/pyspark-notebook:latest
    container_name: penguin_spark
    ports:
      - "8888:8888"
      - "4040:4040"
    volumes:
      - .:/home/jovyan/work
    environment:
      - JUPYTER_TOKEN=penguin

volumes:
  mongo_data:
  cassandra_data:
